<nav class="navbar navbar-custom">
  <div class="container navbar-container no-gutter w-80">
    <a class="navbar-brand" href="#">
     <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
   </a>

   <form id="search-form" class="d-flex dropdown mx-auto text-center" action="/api/weather" method="POST">
     <i class="fas fa-caret-down"></i>
     <input id="navbar-search" class="location-found form-control form-control-sm" type="text" autocomplete="off" placeholder="Enter Eircode or Town" name="address" value="{{address}}" data-toggle="dropdown">
     <button id="navbar-btn" class="btn btn-default btn-sm" type="submit"><i class="fas fa-search icons"></i></button>
   </form>
   <button type="button" id="img-btn"> <i class="far fa-image fa-lg icons"></i></button>

  </div>
</nav>
<div id="landing" class="content-section">
  <div id="landing-wrapper">
    <div class="circle">
      <canvas id="current-weather-icon" width="88" height="88"></canvas>
      <div class="container">
        <div class="row">
          <div class="col-3 edge-col no-padding-col">
            <div class="rolling-metric">
              <div id="metric-left-text">
                  sunrise
                  <br>
              </div>
              <div id="metric-left-value">
                {{toTime daily.data.0.sunriseTime}}
              </div>
            </div>
          </div>
          <div class="col-6 no-padding-col">
            <div id="current-weather">{{currently.summary}}</div>
            <div id="current-temp">{{toInteger currently.temperature}}°</div>
            <div id="feels-like">Feels like {{toInteger currently.apparentTemperature}}°</div>
          </div>
          <div class="col-3 edge-col no-padding-col">
            <div class="rolling-metric">
              <div id="metric-right-text">
                  sunset
                  <br>
              </div>
              <div id="metric-right-value">
                {{toTime daily.data.0.sunsetTime}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div id="wind">
              <span> {{toTextDirection currently.windBearing}}</span> <span> {{toInteger currently.windSpeed}}m/s</span>
            </div>
            <div id="rain-probability">
               Chance of {{daily.data.0.precipType}}: <br>{{toPercent daily.data.0.precipProbability}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="warning-alerts-container">
      <div id="warning-alerts" class ="custom-container">
        <div class="warning-headline">
          <img src="/img/{{weatherAlerts.0.status_color}}-warning.svg" width="27" height="25" alt="">
          <span id="warning-color">{{weatherAlerts.0.status_color}} Warning</span>
          <span id="warning-type"> - {{weatherAlerts.0.weather_type}}</span>
          <span id="warning-details"><a href="#">Details</a></span>
        </div>
      </div>
    </div>
    <div id="next-hour-container">
      <div id="next-hour" class ="custom-container">
        <div id="next-hour-title" class="title">
          Next hour outlook
        </div>
        <div id="next-hour-text"class="text">
          {{minutely.summary}}
        </div>
      </div>
    </div>
  </div>
  <div id="img-location-container">
    <div id="img-location" style="display: none">
      <i class="fas fa-map-marker-alt icons"></i>
      Berlin, Germany. Photo by Enda Molloy.
    </div>
  </div>
</div> <!-- end of landing page -->
<div id="today">
    <div id="today-outlook-title" class="title">
      24 hour outlook
    </div>
    <div id="today-outlook-text" class="text">
      {{hourly.summary}}
    </div>
    <div class="table-responsive custom-container">
      <table class="table  table-striped">
        <thead class="thead-inverse table-heading">
          <tr>
            <th>Time</th>
            <th>Summary</th>
            <th>Temp °C</th>
            <th>Chance of Rain</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.1.time}}</th>
            <td><canvas id="hour-1-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.1.temperature}}°</td>
            <td>{{toPercent hourly.data.1.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.3.time}}</th>
            <td><canvas id="hour-3-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.3.temperature}}°</td>
            <td>{{toPercent hourly.data.3.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.5.time}}</th>
            <td><canvas id="hour-5-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.5.temperature}}°</td>
            <td>{{toPercent hourly.data.5.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.7.time}}</th>
            <td><canvas id="hour-7-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.7.temperature}}°</td>
            <td>{{toPercent hourly.data.7.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.9.time}}</th>
            <td><canvas id="hour-9-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.9.temperature}}°</td>
            <td>{{toPercent hourly.data.9.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.12.time}}</th>
            <td><canvas id="hour-12-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.12.temperature}}°</td>
            <td>{{toPercent hourly.data.12.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.15.time}}</th>
            <td><canvas id="hour-15-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.15.temperature}}°</td>
            <td>{{toPercent hourly.data.15.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.18.time}}</th>
            <td><canvas id="hour-18-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.18.temperature}}°</td>
            <td>{{toPercent hourly.data.18.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.21.time}}</th>
            <td><canvas id="hour-21-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.21.temperature}}°</td>
            <td>{{toPercent hourly.data.21.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="time" scope="row">{{toHour hourly.data.24.time}}</th>
            <td><canvas id="hour-24-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger hourly.data.24.temperature}}°</td>
            <td>{{toPercent hourly.data.24.precipProbability}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="radar">
    <div id="radar-title" class="title">
      Live weather radar
    </div>
  <script src='https://darksky.net/map-embed/@radar,53.638,-7.734,6.js?embed=true&timeControl=true&fieldControl=true&defaultField=radar'></script>
  </div>
  <div class="week">
    <div id="week-outlook-title" class="title">
      The week ahead
    </div>
    <div id="week-outlook-text" class="text">
      {{daily.summary}}
    </div>
    <div class="table-responsive custom-container">
      <table class="table  table-striped">
        <thead class="thead-inverse table-heading">
          <tr>
            <th>Time</th>
            <th>Summary</th>
            <th>Temp °C
              <div id="subheading">Low | High</div>
            </th>
            <th>Chance of Rain</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.0.time}}</th>
            <td><canvas id="day-0-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.0.temperatureLow}}° | {{toInteger daily.data.0.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.0.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.1.time}}</th>
            <td><canvas id="day-1-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.1.temperatureLow}}° | {{toInteger daily.data.1.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.1.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.2.time}}</th>
            <td><canvas id="day-2-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.2.temperatureLow}}° | {{toInteger daily.data.2.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.2.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.3.time}}</th>
            <td><canvas id="day-3-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.3.temperatureLow}}° | {{toInteger daily.data.3.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.3.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.4.time}}</th>
            <td><canvas id="day-4-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.4.temperatureLow}}° | {{toInteger daily.data.4.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.4.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.5.time}}</th>
            <td><canvas id="day-5-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.5.temperatureLow}}° | {{toInteger daily.data.5.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.5.precipProbability}}%</td>
          </tr>
          <tr>
            <th class="day" scope="row">{{toDay daily.data.6.time}}</th>
            <td><canvas id="day-6-icon" width="34" height="34"></canvas></td>
            <td>{{toInteger daily.data.6.temperatureLow}}° | {{toInteger daily.data.6.temperatureHigh}}°</td>
            <td>{{toPercent daily.data.6.precipProbability}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="google-map-title" class="title">
    Search location
    <div id="google-map"></div>
  </div>
  <div class="weather-warnings-container custom-container">
    <div class="title">
        Weather Warning Details
    </div>
    {{#each weatherAlerts}}
      <div class="warning-container">
        <div class="warning-headline-color {{this.status_color}}">{{this.status_color}} Warning</div>
        <div class="warning-weather">{{this.weather_type}} {{this.valid_until}}</div>
      </div>
      <div class="warning-title">
        <h4>Regions Affected:</h4>
      </div>
      <div class="warning-regions">
        {{this.area}}
      </div>
      <div class="warning-title">
        <h4>Details:</h4>
      </div>
      <div class="warning-details">
        {{this.description}}
      </div>
    {{/each}}
    <div class="maplink">
      <a href="#landing" class="action">Back to top</a>
    </div>
  </div>
{{#section 'script'}}
  <script src="/js/skycons.js"></script>

  <script type="text/javascript">
    const pastSearches = localStorage.getItem('pastSearches');
    //console.log(JSON.parse(pastSearches));

    var address = {
      address_title: "{{address}}",
      lat: {{address_coord.lat}},
      lng: {{address_coord.lng}}
    };
    localStorage.setItem('address', JSON.stringify(address));

    if('{{weatherAlerts.0.status_color}}' === ''){
      var elem = document.getElementById("warning-alerts-container");
      elem.parentNode.removeChild(elem);
    }

  </script>
  <script type="text/javascript">
    const whiteIcons = new Skycons({"color": "white"});
    whiteIcons.play();

    const blackIcons = new Skycons();
    whiteIcons.set("current-weather-icon","{{currently.icon}}");
    blackIcons.set("hour-1-icon","{{hourly.data.1.icon}}");
    blackIcons.set("hour-3-icon","{{hourly.data.3.icon}}");
    blackIcons.set("hour-5-icon","{{hourly.data.5.icon}}");
    blackIcons.set("hour-7-icon","{{hourly.data.7.icon}}");
    blackIcons.set("hour-9-icon","{{hourly.data.9.icon}}");
    blackIcons.set("hour-12-icon","{{hourly.data.12.icon}}");
    blackIcons.set("hour-15-icon","{{hourly.data.15.icon}}");
    blackIcons.set("hour-18-icon","{{hourly.data.18.icon}}");
    blackIcons.set("hour-21-icon","{{hourly.data.21.icon}}");
    blackIcons.set("hour-24-icon","{{hourly.data.24.icon}}");

    blackIcons.set("day-0-icon","{{daily.data.0.icon}}");
    blackIcons.set("day-1-icon","{{daily.data.1.icon}}");
    blackIcons.set("day-2-icon","{{daily.data.2.icon}}");
    blackIcons.set("day-3-icon","{{daily.data.3.icon}}");
    blackIcons.set("day-4-icon","{{daily.data.4.icon}}");
    blackIcons.set("day-5-icon","{{daily.data.5.icon}}");
    blackIcons.set("day-6-icon","{{daily.data.6.icon}}");

    blackIcons.play();

  </script>
  <script src="/js/app.js"></script>
  <script>
    function initMap() {

          var location = {lat: {{address_coord.lat}}, lng: {{address_coord.lng}} };
          var map = new google.maps.Map(document.getElementById('google-map'), {
            zoom: 8,
            center: location
          });
          var marker = new google.maps.Marker({
          position: location,
          map: map
        });
        }

  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1lk9_MHOpNQSlUN4iF6p3zGrKu5cp76s&callback=initMap">
  </script>
  <script type="text/javascript">
    var count = 0;
    var info = {{{rolling_metrics}}}

    setInterval(function(){
      if(count == info.length)
        count = 0;

      setDisplay(count)
      count++;
    }, 5000);

    function setDisplay(i){
      const keys = Object.keys(info[i]);
      const values = Object.values(info[i]);
      document.getElementById('metric-left-text').textContent = keys[0];
      document.getElementById('metric-right-text').textContent = keys[1];
      document.getElementById('metric-left-value').textContent = values[0];
      document.getElementById('metric-right-value').textContent = values[1];
    }
  </script>
{{/section}}
